<a href="https://colab.research.google.com/github/AllanHigorLP/Atividade-Avaliativa-1.2-RNA/blob/main/Atividade_1_2_RNA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 2.1 Visão Geral dos Casos Confirmados

**Importando as bibliotecas**

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split #to split the dataset for training and testing
from sklearn import metrics
import unicodedata

**Carregando o dataset**

In [ ]:
df = pd.read_csv("https://covid19.manaus.am.gov.br/wp-content/uploads/Manaus.csv", delimiter=';', skiprows=0, low_memory=False)

In [ ]:
df.head()

       _dt_evolucao   _dt_notificacao  ... _distrito        _taxa
0  25/01/2020 00:00  03/01/2020 00:00  ...     OESTE  0,243042897
1  03/01/2020 00:00  03/01/2020 00:00  ...     OESTE  0,684931507
2  05/01/2020 00:00  03/01/2020 00:00  ...     LESTE  0,073137374
3  16/01/2020 00:00  08/01/2020 00:00  ...       SUL  0,198306463
4  11/01/2020 00:00  08/01/2020 00:00  ...     NORTE  0,117699678

[5 rows x 39 columns]

### 1 - Quantos Atributos descrevem cada exemplo? Quais são eles?

In [7]:
df.columns

Index(['_dt_evolucao', '_dt_notificacao', '_dt_sintomas', '_classificacao',
       '_conclusao', '_origem', '_comorb_cardio', '_comorb_cromossomica',
       '_comorb_diabetes', '_comorb_hemato', '_comorb_hepatica',
       '_comorb_imuno', '_comorb_neurologica', '_comorb_obessidade',
       '_comorb_renal', '_comorb_respiratoria', '_criterio', '_etnia',
       '_evolução', '_idade', '_faixa etária', '_gestante', '_profiss_saude',
       '_raca', '_se_notificacao', '_sexo', '_sintoma_dispneia',
       '_sintoma_febre', '_sintoma_garganta', '_sintoma_tosse',
       '_sintoma_outros', '_srag', '_teste_anticorpo', '_teste_antigeno',
       '_teste_pcr', '_bairro', '_bairro_mapa', '_distrito', '_taxa'],
      dtype='object')

### 2 - Quantos casos confirmados há em Manaus, cumulativamente?

In [8]:
casosConfirmados = df.copy()
tam = len(casosConfirmados)
print("Casos confirmados: {}".format(tam))

Casos confirmados: 243984

### 3- A qual período de tempo a base de dados se refere, isto é, qual o registro mais antigo e qual o mais recente? Leve em conta a data de notificação.

In [9]:
df10 = df.copy()
df10._dt_notificacao = pd.to_datetime(df10._dt_notificacao) 
df10 = df10._dt_notificacao.dropna()
df10 = df10.sort_values()
df10 = df10.reset_index()
df10._dt_notificacao = df10['_dt_notificacao'].dt.strftime('%d/%m/%Y')
tam = len(df10)
print("Registro mais antigo:",df10._dt_notificacao.values[0])
print("Registro de mais recente:",df10._dt_notificacao.values[tam-1])

Registro mais antigo: 01/01/2020
Registro de mais recente: 29/12/2020

### Limpeza dos Dados

#### Verificando se há alguma inconsistência no conjunto de dados

In [10]:
df.drop(columns=['_comorb_cardio', '_comorb_cromossomica', '_comorb_diabetes', '_comorb_hemato', '_comorb_hepatica', '_comorb_imuno',	'_comorb_neurologica',	'_comorb_obessidade',	'_comorb_renal',	'_comorb_respiratoria', '_gestante',	'_profiss_saude',	'_raca', '_sintoma_dispneia',	'_sintoma_febre',	'_sintoma_garganta',	'_sintoma_tosse',	'_sintoma_outros','_etnia','_dt_evolucao','_dt_sintomas','_origem',	'_criterio','_evolução','_bairro_mapa',	'_distrito','_srag','_se_notificacao','_faixa etária', '_taxa'], inplace=True)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243984 entries, 0 to 243983
Data columns (total 9 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   _dt_notificacao   243913 non-null  object
 1   _classificacao    243984 non-null  object
 2   _conclusao        180928 non-null  object
 3   _idade            243913 non-null  float64
 4   _sexo             243497 non-null  object
 5   _teste_anticorpo  138919 non-null  float64
 6   _teste_antigeno   23196 non-null   float64
 7   _teste_pcr        58306 non-null   float64
 8   _bairro           240419 non-null  object
dtypes: float64(4), object(5)
memory usage: 16.8+ MB

In [ ]:
df.head(-1)

         _dt_notificacao _classificacao  ... _teste_pcr         _bairro
0       03/01/2020 00:00     Descartado  ...        NaN          TARUMA
1       03/01/2020 00:00     Descartado  ...        NaN      TARUMA-ACU
2       03/01/2020 00:00     Descartado  ...        NaN  JORGE TEIXEIRA
3       08/01/2020 00:00     Descartado  ...        NaN          FLORES
4       08/01/2020 00:00     Descartado  ...        NaN  CIDADE DE DEUS
...                  ...            ...  ...        ...             ...
243978  20/04/2020 00:00     Descartado  ...        1.0   SANTO ANTONIO
243979  20/04/2020 00:00     Confirmado  ...        1.0    Adrianópolis
243980  20/04/2020 00:00     Descartado  ...        1.0    Adrianópolis
243981  20/04/2020 00:00     Descartado  ...        1.0     CIDADE NOVA
243982  22/04/2020 00:00     Confirmado  ...        1.0          FLORES

[243983 rows x 9 columns]

#### Renomeando as colunas

In [12]:
df.rename(columns={'_dt_notificacao': 'dt_notificacao', '_classificacao': 'classificacao','_conclusao': 'conclusao', '_idade': 'idade','_faixa etária': 'faixa_etaria', '_sexo': 'sexo', '_bairro':'bairro','_taxa':'taxa','_teste_anticorpo':'teste_anticorpo','_teste_antigeno':'teste_antigeno',	'_teste_pcr':'teste_pcr'}, inplace=True)

#### **Deletando as linhas**

In [13]:
df['teste_anticorpo'].fillna(0, inplace=True)
df['teste_antigeno'].fillna(0, inplace=True)
df['teste_pcr'].fillna(0, inplace=True)
df = df.dropna()

In [14]:
df.head(-1)

          dt_notificacao classificacao  ... teste_pcr          bairro
0       03/01/2020 00:00    Descartado  ...       0.0          TARUMA
1       03/01/2020 00:00    Descartado  ...       0.0      TARUMA-ACU
2       03/01/2020 00:00    Descartado  ...       0.0  JORGE TEIXEIRA
3       08/01/2020 00:00    Descartado  ...       0.0          FLORES
4       08/01/2020 00:00    Descartado  ...       0.0  CIDADE DE DEUS
...                  ...           ...  ...       ...             ...
243975  14/04/2020 00:00    Descartado  ...       1.0      COMPENSA I
243976  14/04/2020 00:00    Descartado  ...       1.0       EDUCANDOS
243978  20/04/2020 00:00    Descartado  ...       1.0   SANTO ANTONIO
243980  20/04/2020 00:00    Descartado  ...       1.0    Adrianópolis
243981  20/04/2020 00:00    Descartado  ...       1.0     CIDADE NOVA

[179002 rows x 9 columns]

In [6]:
df.columns

Index(['_dt_evolucao', '_dt_notificacao', '_dt_sintomas', '_classificacao',
       '_conclusao', '_origem', '_comorb_cardio', '_comorb_cromossomica',
       '_comorb_diabetes', '_comorb_hemato', '_comorb_hepatica',
       '_comorb_imuno', '_comorb_neurologica', '_comorb_obessidade',
       '_comorb_renal', '_comorb_respiratoria', '_criterio', '_etnia',
       '_evolução', '_idade', '_faixa etária', '_gestante', '_profiss_saude',
       '_raca', '_se_notificacao', '_sexo', '_sintoma_dispneia',
       '_sintoma_febre', '_sintoma_garganta', '_sintoma_tosse',
       '_sintoma_outros', '_srag', '_teste_anticorpo', '_teste_antigeno',
       '_teste_pcr', '_bairro', '_bairro_mapa', '_distrito', '_taxa'],
      dtype='object')

#### Remoção de acentos e caracteres especiais

In [15]:
def normalizar_palavra(a):
    processamento_1 = unicodedata.normalize("NFD", a)
    processamento_2 = processamento_1.encode("ascii", "ignore")
    processamento_2 = processamento_2.decode("utf-8")
    a=processamento_2.upper()
    return a

In [16]:
df.bairro = df.bairro.apply(normalizar_palavra)
df.conclusao = df.conclusao.apply(normalizar_palavra)
df.classificacao = df.classificacao.apply(normalizar_palavra)


df.drop(df.loc[df['classificacao']=='DESCARTADO'].index, inplace=True)
df.drop(df.loc[df['classificacao']=='EM ANALISE'].index, inplace=True)
df.drop(df.loc[df['bairro']=='SEM DADOS'].index, inplace=True)

df.head(-1)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

          dt_notificacao classificacao  ... teste_pcr               bairro
130     23/02/2020 00:00    CONFIRMADO  ...       1.0            MAUAZINHO
144     28/02/2020 00:00    CONFIRMADO  ...       1.0          NOVO ALEIXO
153     02/03/2020 00:00    CONFIRMADO  ...       0.0  PRACA 14 DE JANEIRO
158     02/03/2020 00:00    CONFIRMADO  ...       0.0               FLORES
196     11/03/2020 00:00    CONFIRMADO  ...       2.0          CIDADE NOVA
...                  ...           ...  ...       ...                  ...
225147  14/10/2020 00:00    CONFIRMADO  ...       1.0        LIRIO DO VALE
225148  14/10/2020 00:00    CONFIRMADO  ...       0.0         CAMPOS SALES
225149  12/09/2020 00:00    CONFIRMADO  ...       2.0               ALEIXO
225153  08/10/2020 00:00    CONFIRMADO  ...       0.0   MORRO DA LIBERDADE
225159  27/11/2020 00:00    CONFIRMADO  ...       2.0               FLORES

[42683 rows x 9 columns]

### 1 - Quantos exemplos e atributos há na base de dados após a limpeza e organização?

In [4]:
print(list(df.columns))
print("Quantidade de exemplos: {}".format(len(df)))

['_dt_evolucao', '_dt_notificacao', '_dt_sintomas', '_classificacao', '_conclusao', '_origem', '_comorb_cardio', '_comorb_cromossomica', '_comorb_diabetes', '_comorb_hemato', '_comorb_hepatica', '_comorb_imuno', '_comorb_neurologica', '_comorb_obessidade', '_comorb_renal', '_comorb_respiratoria', '_criterio', '_etnia', '_evolução', '_idade', '_faixa etária', '_gestante', '_profiss_saude', '_raca', '_se_notificacao', '_sexo', '_sintoma_dispneia', '_sintoma_febre', '_sintoma_garganta', '_sintoma_tosse', '_sintoma_outros', '_srag', '_teste_anticorpo', '_teste_antigeno', '_teste_pcr', '_bairro', '_bairro_mapa', '_distrito', '_taxa']
Quantidade de exemplos: 243984

## 2 - Qual a porcentagem de indivíduos recuperados em relação ao todo?

In [17]:
freq = df['conclusao'].value_counts()
total_rows = len(df.index)
porcentagem = freq[0]/total_rows
print('Porcentagem de casos recuperados: {}%'.format(round(porcentagem*100, 1)))

Porcentagem de casos recuperados: 92.0%

## 3 - Os casos acometeram mais indivíduos do sexo masculino ou feminino?

In [18]:
sexo = df['sexo'].value_counts()
print("Casos Femininos: {}\nCasos Masculino: {}\n\nOs casos acometeram mais indivíduos do sexo feminimo.".format(sexo[0], sexo[1]))

Casos Femininos: 22901
Casos Masculino: 19783

Os casos acometeram mais indivíduos do sexo feminimo.

## 4 - Qual a média e desvio padrão de idade dos indivíduos que contraíram COVID-19? Qual o indivíduo mais jovem e o mais idoso a contraírem tal enfermidade?

In [19]:
desv_padrao = df['idade'].std()
media = df['idade'].mean()
max = df['idade'].max()
min = df['idade'].min()

print('Desvio Padrão: {:.1f}\nMédia: {:.1f}\nMax: {:.0f}\nMin: {:.0f}'.format(desv_padrao, media, max, min))

Desvio Padrão: 17.3
Média: 43.4
Max: 120
Min: 0